<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.greenfishlabs.greenfishlabs.greenfishvr">
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="22" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="22" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <compatible-screens>
        <!-- all small size screens -->
        <screen android:screenSize="small" android:screenDensity="ldpi" />
        <screen android:screenSize="small" android:screenDensity="mdpi" />
        <screen android:screenSize="small" android:screenDensity="hdpi" />
        <screen android:screenSize="small" android:screenDensity="xhdpi" />
        <!-- all normal size screens -->
        <screen android:screenSize="normal" android:screenDensity="ldpi" />
        <screen android:screenSize="normal" android:screenDensity="mdpi" />
        <screen android:screenSize="normal" android:screenDensity="hdpi" />
        <screen android:screenSize="normal" android:screenDensity="xhdpi" />
    </compatible-screens>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="Greenfish VR"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:name="android.support.multidex.MultiDexApplication"
        android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen">
        <activity android:name="com.greenfishlabs.greenfishlabs.greenfishvr.MenuActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.greenfishlabs.greenfishlabs.greenfishvr.MenuCollectionActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.greenfishlabs.greenfishlabs.greenfishvr.VideoViewer"
            android:screenOrientation="portrait" >
            <intent-filter>
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="oauth" android:host="t4jsample"/>
            </intent-filter>
        </activity>

        <activity android:name="com.greenfishlabs.greenfishlabs.greenfishvr.SplashScreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <provider android:authorities="com.facebook.app.FacebookContentProvider602186126628351"
            android:name="com.facebook.FacebookContentProvider"
            android:exported="true"/>
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/id_facebook"/>
    </application>
</manifest>